body {
  overflow-x: hidden;
}

main {
  min-height: 80vh;
  min-width: 100vw;
}

h1 {
  padding: 2rem 0rem;
}

.adminmenu {
  margin-right: 0.5rem;
}

strong {
  font-weight: 700;
}

.footer-p {
  padding-right: 2rem;
}

.info-con {
  width: 100%;
  margin: 3rem 0rem;
  border-top: 1px rgb(230, 230, 230) solid;
  border-bottom: 1px rgb(230, 230, 230) solid;
}

.shipping-label {
  height: 1.5rem;
  width: 100vw;
  background: black;
  text-align: center;
}

.shipping-h4 {
  color: white;
  font-size: 0.7rem;
  padding-top: 0.35rem;
}

.navbar-brand {
  font-family: "Arimo", sans-serif;
}

.py-3 {
  padding-top: 0rem !important;
}

.cart-h1-title {
  padding-left: 1rem;
}
.shipping-h1 {
  font-family: "Arimo", sans-serif;
  font-size: 2.5rem;
}

.cart-subtotal-title,
.subtotal-title {
  margin: 2rem 0rem;
}

.order-id-h1 {
  font-size: 1rem;
  padding-left: 1rem;
}

.subtotal-title {
  text-align: center;
}

.order-deliver-btn {
  padding: 0rem;
}

.padding-zero {
  padding: 0rem;
  border: none;
}

.h4-price {
  padding-top: 0rem;
  font-size: 0.8rem;
  font-weight: 300;
}

.rm-border {
  border: none;
}

.select-form {
  padding: 0.75rem 0.3rem;
}

.secondary-container {
  margin-right: 1rem;
}

.new-col-md-8 {
  padding-left: 0rem;
}

.checkout-nav-item {
  margin: 0rem;
  padding: 0rem;
  padding-right: 0.15rem;
}

.checkout-componenet {
  padding: 2rem 0rem;
}

.order-item-name {
  padding: 0rem;
  margin: 0rem;
}

.pagination,
h1 {
  padding-top: 2rem !important;
}

.abidas-nav-ctn {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0rem 1rem !important;
  }
  h1 {
    padding: 0rem 2rem !important;
  }
}

/*////////////////////////////////////////*/
/*  EXTRA NAV LINKS */

.navbar,
.navbar-expand-lg,
.navbar-light,
.bg-light {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}

.abidas-product-nav-links {
  display: flex;
  padding-right: 5rem;
  align-items: center;
}

.abidas-product-nav-links a {
  padding-right: 2rem !important;
}

@media only screen and (max-width: 892px) {
  .abidas-product-nav-links {
    flex-direction: column;
    padding-right: 0rem;
    align-items: flex-start;
  }

  .abidas-product-nav-links a {
    padding: 0.5rem 0rem !important;
  }
}

/*////////////////////////////////////////*/
/*  SEARCH BOX  */

.mr-sm-2,
.ml-sm-0 {
  height: 2rem;
}

.mr-sm-2,
.mx-sm-2 {
  margin-right: 0rem;
}

.search-btn-1 {
  border: none;
  height: 2rem;
  background: #f7f7f9;
}

.search-btn-1 > span {
  padding: 0.5rem;
}

/*////////////////////////////////////////*/
/*  MOBILE HAMBURDER AND MENU TOGGLE  */

.form-inline {
  flex-flow: nowrap !important;
  padding-right: 0.5rem;
}

.secondary-container,
.navbar-toggler,
.secondary-container:active,
.navbar-toggler:active,
.secondary-container:focus,
.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
}

/*///////////////////////////////////*/
/*  PRODUCT CARD */

.abidas-card {
  padding: 0rem;
  margin: 0;
}

.abidas-card:hover {
  border: solid 1px rgb(49, 49, 49);
}

.empty-space {
  height: 2rem;
}
